* {
	margin: 0;
	padding: 0;
	line-height: 0;
}

body {
	color: #fff;
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #0B2E43;
}

abbr[title] {
	border-bottom: 1px #0B2E43 solid;
}

div#main * {
	line-height: normal;
}

.rn {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.bg {
	
}

#canvas {
	background-image: linear-gradient(bottom, #0B2E43 9%, #0A0D0C 100%);
	background-image: -o-linear-gradient(bottom, #0B2E43 9%, #0A0D0C 100%);
	background-image: -moz-linear-gradient(bottom, #0B2E43 9%, #0A0D0C 100%);
	background-image: -webkit-linear-gradient(bottom, #0B2E43 9%, #0A0D0C 100%);
	background-image: -ms-linear-gradient(bottom, #0B2E43 9%, #0A0D0C 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.09, #0B2E43),
		color-stop(1, #0A0D0C)
	);
	display: block;
}

div#main {
	position: absolute;
    padding: 10% 10% 0 4%;
	perspective: 800px;
   	perspective-origin: 50% 200px;
	/*margin: 0 0 0 -350px;*/
}

div#main header > h1, div#main header > h2 {
	padding: 20px 0;
	float: left;
	margin: 0;
	width: 100%;
}

div#main header > h1 {
	font-size: 1.9em;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 15px;
	line-height: 1em;
	margin-left: .5%;
	transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
}

div#main header > h2 {
	font-size: 4.6em;
	line-height: 1.4em;
	font-weight: 200;
	transform: rotate(-5deg) translate(20px);
    -webkit-transform: rotate(-5deg) translate(20px);
}

div#main header > h3 {
	font-size: 1.8em;
	line-height: 1.3em;
	font-weight: 200;
	color: #124c6f;
    opacity: 0.6;
    transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    float: right;
    margin-left: 40px;
}

div#main header > h3 a {
	color: #165b85;
}

span.italicize {
    font-style: italic;
}

@media screen and (max-width: 800px) {
	div#main header > h2 {
		font-size: 3.5em;
	}

    div#main header > h3 {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 600px) {
    div#main header > h2 {
        font-size: 2.3em;
    }

    div#main header > h3 {
        font-size: 0.7em;
        color: #fff;
    }

    div#main {
        padding-top: 10%;
    }
}